In [10]:
import pandas as pd
import os

os.getcwd()

df = pd.read_csv('/Users/Osaze/301/course-project-solo_106/data/raw/data.csv')
df

,id,name,year,year_index,total_players,peak_year_index,rank,dnp,sport_name,league,stat_prop,stat_val,played_prop,played_val,played_2_prop,played_2_val,team,pos
0,rosede01,Derrick Rose,2009,0,445,2,113.0,False,basketball,nba,vorp,1.1,g,81.0,NaN,NaN,CHI,NaN
1,rosede01,Derrick Rose,2010,1,442,2,73.0,False,basketball,nba,vorp,1.8,g,78.0,NaN,NaN,CHI,NaN
2,rosede01,Derrick Rose,2011,2,452,2,3.0,False,basketball,nba,vorp,6.0,g,81.0,NaN,NaN,CHI,NaN
3,rosede01,Derrick Rose,2012,3,478,2,25.0,False,basketball,nba,vorp,2.4,g,39.0,NaN,NaN,CHI,NaN
4,rosede01,Derrick Rose,2013,4,469,2,NaN,True,basketball,nba,vorp,NaN,g,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14977,12916,Francisco Lindor,2016,1,1353,2,16.0,False,baseball,mlb,WAR,5.6,PA,684.0,IP,NaN,Indians,SS
14978,12916,Francisco Lindor,2017,2,1358,2,14.0,False,baseball,mlb,WAR,5.9,PA,723.0,IP,NaN,Indians,SS
14979,15429,Kris Bryant,2015,0,1348,2,12.0,False,baseball,mlb,WAR,6.1,PA,650.0,IP,NaN,Cubs,3B
14980,15429,Kris Bryant,2016,1,1353,2,3.0,False,baseball,mlb,WAR,7.8,PA,699.0,IP,NaN,Cubs,3B/LF
14981,15429,Kris Bryant,2017,2,1358,2,9.0,False,baseball,mlb,WAR,6.6,PA,665.0,IP,NaN,Cubs,3B